## Requirement

{{.Test.Description}}

## Remaining work

{{ range $a := .Test.AssertionResults.Collection }}
* {{ $a|AssertWork }}
{{ end }}

For more information, see https://app.secureframe.com/dashboard

## Metadata

* Secureframe ID: {{.Test.ID}}
* Secureframe Key: {{.Test.Key}}
* Evidence Type: {{ .Test.EvidenceType }}
* Assertion Keys: {{ range .Test.AssertionKeys }}{{ . }} {{ end }}
